<h1>Show Time</h1>

<ul>

  <li>
    <strong>Minutes:</strong>
    <%= @time.minutes %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.time_path(@conn, :edit, @time) %></span>
<span><%= link "Back", to: Routes.time_path(@conn, :index) %></span>
